<!-- TOP BAR -->
<div class="top-bar">
    <div class="container top-bar-content">
        <div class="left">
            <span>📧 abcd&#64;gmail.com</span>
            <span>📞 +91 1234567890</span>
        </div>
        <div class="right social-icons">
            <!-- Facebook -->
            <a href="#" aria-label="Facebook">
                <svg viewBox="0 0 24 24" class="social-icon">
                    <path
                        d="M22 12a10 10 0 1 0-11.6 9.9v-7h-2v-3h2V9.5c0-2 1.2-3.1 3-3.1.9 0 1.8.2 1.8.2v2h-1c-1 0-1.3.6-1.3 1.2V12h2.3l-.4 3h-1.9v7A10 10 0 0 0 22 12z" />
                </svg>
            </a>

            <!-- Instagram -->
            <a href="#" aria-label="Instagram">
                <svg viewBox="0 0 24 24" class="social-icon">
                    <path
                        d="M7 2C4.2 2 2 4.2 2 7v10c0 2.8 2.2 5 5 5h10c2.8 0 5-2.2 5-5V7c0-2.8-2.2-5-5-5H7zm10 2c1.7 0 3 1.3 3 3v10c0 1.7-1.3 3-3 3H7c-1.7 0-3-1.3-3-3V7c0-1.7 1.3-3 3-3h10zm-5 3.5A4.5 4.5 0 1 0 12 16a4.5 4.5 0 0 0 0-9zm0 7.3a2.8 2.8 0 1 1 0-5.6 2.8 2.8 0 0 1 0 5.6zM17.5 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
            </a>

            <!-- Twitter -->
            <a href="#" aria-label="Twitter">
                <svg viewBox="0 0 24 24" class="social-icon">
                    <path
                        d="M22.4 6c-.8.4-1.6.6-2.5.8a4.3 4.3 0 0 0 1.9-2.4 8.7 8.7 0 0 1-2.7 1 4.3 4.3 0 0 0-7.3 3v.9A12.3 12.3 0 0 1 3 4.9a4.3 4.3 0 0 0 1.3 5.7c-.6 0-1.2-.2-1.7-.4v.1a4.3 4.3 0 0 0 3.5 4.2c-.4.1-.8.2-1.3.2-.3 0-.6 0-.9-.1a4.3 4.3 0 0 0 4 3 8.7 8.7 0 0 1-5.3 1.8c-.3 0-.7 0-1-.1A12.3 12.3 0 0 0 8.3 21c8 0 12.4-6.6 12.4-12.4v-.6c.8-.6 1.5-1.3 2-2.1z" />
                </svg>
            </a>
        </div>

    </div>
</div>

<!-- HEADER -->
<!-- HEADER -->
<header class="header">
    <div class="container header-content">

        <!-- HAMBURGER (MOBILE ONLY) -->
        <button class="menu-toggle" aria-label="Menu" (click)="toggleMenu()">
            ☰
        </button>


        <!-- LOGO -->
        <div class="logo">
            <img src="assets/logo/logo.svg" alt="Logo">
        </div>

        <!-- NAV -->
        <nav class="nav" [class.open]="isMenuOpen">
            <a routerLink="/home-page" [class.active]="activeFragment === 'about'" fragment="about" (click)="closeMenu()">About Us</a>
            <a routerLink="/home-page" [class.active]="activeFragment === 'product'" fragment="product" (click)="closeMenu()">Our Product</a>
            <a routerLink="/home-page" [class.active]="activeFragment === 'capabilities'" fragment="capabilities" (click)="closeMenu()">Our Capabilities</a>
            <a routerLink="/home-page" [class.active]="activeFragment === 'technology'" fragment="technology" (click)="closeMenu()">Product Suit</a>
            <a routerLink="/home-page" [class.active]="activeFragment === 'contact-us'" fragment="contact-us" (click)="closeMenu()">Contact</a>
        </nav>


    </div>
</header>